<!DOCTYPE html>
<html lang="en">
<head>
    <title>login page</title>
</head>
<body>
    <%- include('common/header') %>   
    <h1>this is login page</h1>
</body>
</html>

<!-- <%- include('common/header') %>    -->
<!-- is codeme hamne <%- %> yeh use kia hai -  to iska matlab hai k common header file ko yahan pe use karna hai value variable ki form me nhi hai us k liye ham = use karty ejs me  -->
<!-- or include me isi tarah file path dena hai pehlay folder name jo k common hoga or phr / dal kar filename  -->